# see https://projectlombok.org/ for configuration information

lombok.singular.useGuava = true
lombok.singular.auto  = false

# `val` is strange for developers not used to lombok
lombok.val.flagUsage = error
# @Getter(lazy=true) is just too much magic
lombok.getter.lazy.flagUsage = error
# @Synchronized is risky in regard to serialization
lombok.synchronized.flagUsage = error